<?xml version="1.0" encoding="UTF-8"?>
<module>
  <name>waxap</name>
  <displayName><![CDATA[Waxap]]></displayName>
  <version><![CDATA[0.1.0]]></version>
  <description><![CDATA[Notificaciones WhatsApp para tu tienda PrestaShop.]]></description>
  <author><![CDATA[drappsinfo]]></author>
  <tab><![CDATA[administration]]></tab>
  <is_configurable>1</is_configurable>
  <need_instance>0</need_instance>
  <limited_countries></limited_countries>
</module>
